html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: "Indie Flower", cursive;
}


canvas {
    display: block;
}

.main-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px 0;
    position: relative;
}

.text {
    display: none;
}

h1 {
    text-align: center;
    color: rgb(253, 221, 240);
    font-size: 78px;
    text-shadow: 2px 2px 4px rgba(106, 15, 88, 0.3);
    /* https://www.w3schools.com/cssref/css3_pr_text-shadow.php */
    margin-bottom: 0px;
    /* https: //www.w3schools.com/cssref/pr_margin-bottom.php */
}


#tool-info {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(113, 2, 117, 0.1);
}

.tool-item {
    padding: 12px;
    margin-bottom: 10px;
    background-color: rgba(255, 107, 157, 0.1);
    border-radius: 8px;
    transition: all 0.3s ease;
}

.tool-item:hover {
    background-color: rgba(255, 107, 157, 0.3);
    transform: translateX(5px);
}

.tool-item:last-child {
    margin-bottom: 0;
}

.tool-key {
    display: inline-block;
    background-color: #ff6b9d;
    color: white;
    padding: 4px 12px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
    min-width: 30px;
    text-align: center;
}

.tool-name {
    font-weight: bold;
    color: #d4508a;
    margin-right: 8px;
    font-size: 16px;
}

.tool-desc {
    color: #d50384;
    font-size: 17px;
}

.modal {
    position: fixed;
    inset: 0;
    /* https://www.w3schools.com/cssref/css_pr_inset.php */
    background: rgba(255, 192, 203, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
}

.hidden {
    display: none;
}

/* popup */
.box {
    background: #fffdfc;
    border-radius: 16px;
    padding: 24px 28px;
    max-width: 360px;
    width: 80%;
    box-shadow: 0 12px 30px rgba(255, 192, 203, 0.89);
    border: 2px solid #f4c2c2;
    text-align: center;
    font-family: "Indie Flower", cursive;
}

.title {
    margin: 0 0 12px;
    font-size: 24px;
    color: #ff5c8a;
}

.textt {
    margin: 0 0 20px;
    font-size: 16px;
    color: #ffa9cd;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.btn {
    cursor: pointer;
    border-radius: 999px;
    padding: 8px 18px;
    border: none;
    font-size: 14px;
    font-family: inherit;
}

.yes:hover {
    background: #ff3c72;
}


.yes2:hover {
    background: #ff3c72;
}

.yes,
.yes2 {
    cursor: pointer;
    border-radius: 999px;
    padding: 8px 18px;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: inherit;
    background: #ff5c8a;
    color: white;
}